/* ── Tabellkolonne-breidder (delt) ── */

.th-28 {
  width: 28px;
}
.th-32 {
  width: 32px;
}
.th-36 {
  width: 36px;
}
.th-40 {
  width: 40px;
}
.th-44 {
  width: 44px;
}
.th-50 {
  width: 50px;
}
.th-56 {
  width: 56px;
}
.th-80 {
  width: 80px;
}
.th-96 {
  width: 96px;
}
.th-148 {
  width: 148px;
}
